<div class="row find-detail-share">
  <div class="col col-25">
    <a href="#"><img src="img/share_qq.png" class="find-detail-share-img" alt="share" /></a>
  </div>
  <div class="col col-25">
    <a href="#"><img src="img/share_wechat.png" class="find-detail-share-img" alt="share" /></a>
  </div>
  <div class="col col-25">
    <a href="#"><img src="img/share_wechat_circle.png" class="find-detail-share-img" alt="share" /></a>
  </div>
  <div class="col col-25">
    <a href="#"><img src="img/share_weibo.png" class="find-detail-share-img" alt="share" /></a>
  </div>
  <div class="col col-25">
    <a href="#"><img src="img/share_tencent_weibo.png" class="find-detail-share-img" alt="share" /></a>
  </div>
</div>