* {
	border:0;
	margin:0;
	padding:0;
}

body {
	color:black;
	background-color:#F0F0F0;
}

a {
	text-decoration:none;
}

.top {
    background-color:#67CCCC;
    height:40px;
    line-height:40px;
    overflow:hidden;
    text-align:center;
    color:white;
}

.top-title {
	position:absolute;
	left:50%;
	margin-left:-30%;
	text-align:center;
	width:60%;
}

.top-right {
	float:right;
	height:40px;
    line-height:40px;
}

.top-left {
	float:left;
	height:40px;
    line-height:40px;
}

#myCarousel {
	margin:auto;
	width:100%;
	height:200px;
}

.carousel-indicators {
	margin-bottom:-10px;
}

.carousel-caption {
	background-color:black;
	opacity:0.4;
	position:relative;
	left:50%;
	padding-top:5px;
	margin:-50%;
	margin-top:-20px;
	width:100%;
	text-align:left;
	height:50px;
	z-index:15;
}

.contents {
	background-color:white;
	color:black;
	margin-top:12px;
	padding:6px;
	overflow:hidden;
	border:1px solid #CFCFCF;
}

.contents-left {
	float:left;
    overflow:hidden;
    width:65.5%;
}

.contents-image {
	float:right;
	width:100px;
	height:70px;
	margin-left:5px;
	margin-top:5px;
}

.contents-title {
	font-size:13px;
	color:black;
}
.contents-time {
	font-size:10px;
	color:#C3C3C3;
}

.contents-readers {
	float:left;
	font-size:8px;
	color:#c6c6c6;
	display:inline;
}

.contents-laucher {
	float:right;
	font-size:8px;
	color:#929292;
}

.activity-image {
	width:100px;
	height:140px;
	margin:0px 15px 15px 0px;
	float:left;
}

.activity-label {
	width:70px;
	float:left;
}

.activity-text {
	overflow:hidden;
}

.special-activity-text {
	height:18px;
	width:180px;
	float:left;
}

.activity-item {
	margin:15px;
	clear:both;
	padding-bottom:0px;
}

.order {
	border-radius: 5px;
	margin-top:12px;
	margin-bottom: 15px;
}

/**/
.foot {
	position:fixed;
	bottom:-5px;
	background:white;
	width:100%;
}

.button-item {
	width:24%;
	display:inline-block;
	text-align:center;
	margin:0px;
}

.button-text {
	font-size:10px;
	color:black;
}

.bar.bar-positive {
	background-color: #67CCCC;
}

.tabs-color-active-positive, .ion-ios-lightbulb, .ion-ios-people, .ion-ios-location, .ion-ios-person {
	color: #67CCCC;
	text-decoration: none;
}


.corporation {color: black}

.corporation.corporation-search-bar {
  width: 10px;
  position: fixed;
  right: 0;
  top: 70px;
}

.corporation.corporation-detail-header {
	background-image:url(/img/6.jpg);
	background-size:cover;
	height:200px;
}

.corporation.corporation-title-box {
	width:120px;
	margin:auto;
	padding-top:40px;
	text-align:center;
	color:white!important;
}

.corporation.corporation-avatar {
	margin:auto;
	height:70px;
	width:70px;
	background-size:cover;
	border:2px solid white;
	border-radius:50%;
}

.corporation.corporation-content-nav {
	text-align: center;
	border-bottom: 1px solid gray;
}

.corporation.corporation-content-nav li {
	display: inline-block;
	padding: 8px 15px 8px 15px;
	margin: 0 5px 0 5px;
	color: gray；
}

.corporation.corporation-content-nav .nav-chosen {
	color: black;
	border-bottom: 2px solid blue;
}

.popup-container .popup {
    width: 100px;
}

.popup-head {
    background-color: black;
    opacity: 0.7;
    color: white;
    width: 100px;
}

.find.typeBar span {
	font-size: 1.7rem;
	margin-left: 16px;
	color: #888;
}

.find.typeBar {
	height: 40px;
	padding-top: 10px;
}

.activeType {
	color: #67CCCC !important;
}

.find img {
	width:80px;
	height:85px;
	float: left;
	margin-left: 3px;
}

.find.myItem {
	padding-top: 7px;
	padding-bottom: 4px;
	display: inline-block;
	width: 100%;
}

.find.textBlock {
	float: left;
	margin-left: 6px;
	width: 285px;
	overflow: visible;
}

.leftText, .rightText {
	float: left;
	width:45%;
	word-wrap: normal;
}

.find.myItem span {
	font-size: 8px;
	display: block;
	color: #888;
	line-height: 20px;
}

.find h5 {
	margin-top: 0px;
}

.find.timeBar {
	background-color: #E8E8E8;
	height: 28px;
	padding-top: 6px;
	border-bottom: solid #CFCFCF 1px;
}

.find.items {
	border-bottom: solid #CFCFCF 1px;
}

.find.timeBar span {
	color: #888;
	margin-left: 10px;
}

a.item {
	color: black;
}

a.item.message i.firstIcon, a.item.collection i.firstIcon {
	color: rgba(0, 192, 255, 1);
}

a.item.warning i.firstIcon {
	color: rgba(255, 211, 33, 1);
}

a.item.following i.firstIcon {
	color: rgba(255, 62, 0, 1);
}

a.item.signUp i.firstIcon, a.item.setting i.firstIcon {
	color: #888;
}

